/* styles.css */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.cardheader p {
  font-weight: 100;
  font-size: 1.3rem;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.btn-primary {
  background-color: #e50914;
  border-color: #e50914;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #e50914;
  border-color: #e50914;
}
