<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kaszmar Leonardos - Sistema Web</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="mystyle.css" />
  </head>
  <body>
    <div class="sidebar">
      <div class="logo">
        <img src="Logo Vertical.png" alt="Kaszmar Leonardos" />
      </div>
      <ul>
        <li>
          <a
            href="#"
            data-toggle="collapse"
            data-target="#cadastroDropdown"
            aria-expanded="false"
            aria-controls="cadastroDropdown"
          >
            <i class="bi bi-stack"></i> <span>Cadastro</span>
            <i class="bi bi-chevron-down float-right"></i>
          </a>
          <ul class="collapse" id="cadastroDropdown">
            <li>
              <a href="#"><i class="bi bi-windows"></i> <span>Ativos</span></a>
            </li>
            <li>
              <a href="#"
                ><i class="bi bi-building-fill-add"></i>
                <span>Parceiro</span></a
              >
            </li>
            <li>
              <a href="#"
                ><i class="bi bi-person-fill-check"></i> <span>Usuário</span></a
              >
            </li>
          </ul>
        </li>

        <li>
          <a href="#"
            ><i class="bi bi-magnet-fill"></i> <span>Associar</span></a
          >
        </li>

        <li>
          <a
            href="#"
            data-toggle="collapse"
            data-target="#relatorioDropdown"
            aria-expanded="false"
            aria-controls="relatorioDropdown"
          >
            <i class="bi bi-bar-chart-line-fill"></i> <span>Relatórios</span>
            <i class="bi bi-chevron-down float-right"></i>
          </a>
          <ul class="collapse" id="relatorioDropdown">
            <li>
              <a href="#"><i class="bi bi-windows"></i> <span>Ativos</span></a>
            </li>
            <li>
              <a href="#"
                ><i class="bi bi-file-earmark-text-fill"></i>
                <span>Contratos</span></a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="btnsComand d-flex flex-column">
        <button class="btn btn-danger mt-auto">
          <i class="bi bi-box-arrow-left"></i> Sair
        </button>
      </div>
    </div>

    <div class="content">
      <h1>Bem-vindo ao Sistema Kaszmar Leonardos</h1>
      <p>
        Esta é a página principal do nosso sistema. Explore as opções no menu
        para acessar as funcionalidades disponíveis.
      </p>
    </div>

    <button class="toggle-sidebar">
      <i class="bi bi-list"></i>
    </button>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      // Toggle do menu retrátil
      $(document).ready(function () {
        var sidebar = $(".sidebar");
        var content = $(".content");
        var toggleButton = $(".toggle-sidebar");

        toggleButton.click(function () {
          sidebar.toggleClass("collapsed");
          content.toggleClass("collapsed");
          toggleButton.toggleClass("show");
        });
      });
    </script>
  </body>
</html>
